<!DOCTYPE html>
<html lang="ar" dir="rtl" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#080808" />
    <title inertia>
      صالون الحلاقة
    </title>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="min-h-screen bg-background font-cairo text-foreground antialiased">
    @inertia()
  </body>

</html>
